@charset "UTF-8";

@font-face {
  font-family: "迷你简南宫";
  src: url("迷你简南宫.woff2") format("woff2"),
       url("迷你简南宫.woff") format("woff"),
       url("迷你简南宫.ttf") format("truetype"),
       url("迷你简南宫.eot") format("embedded-opentype"),
       url("迷你简南宫.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}